
:root {
	--app-theme-snow-white: #ffffff;
	--app-theme-kinda-white: #e9e9e9;
	--app-theme-mysterious-white: rgba(255, 255, 255, 0.75);
	--app-theme-powder-trail: rgba(255, 255, 255, 0.25);
	--app-theme-ghostly-glow: rgba(255, 255, 255, 0.05);
	--app-theme-carbon: #2B2B2B;
	--app-theme-midnight: #18202d;
	--app-theme-midnight-glow: #2f3c4e;
	--app-theme-bishop: #D72600;
	--app-theme-sapphire: #0956BF;
	--app-theme-rich-mint: #379711;
	--app-theme-sporty-yellow: #ECD407;
	--app-theme-sky-blue: #464ee8;
	--app-theme-deep-lavender: #7b82f9;
	--app-theme-spooky-orange: #e79600;
	--app-theme-blood-red: #ff2200;
	--app-theme-irish-green: #00c656;
}
