
:root {
	--app-color-dark-grey: #1a1a1a;
	--app-color-blueish-dark: #2a3442;
	--app-color-light-grey: #b2b3b4;

	--app-accent-red: #ff2200;
	--app-accent-orange: orange;
	--app-accent-green: #00c431;
	--app-accent-blue: #3F67FF;
	--app-accent-light-blue: #6a87ff;
	--app-accent-dark-blue: #464ee8;

	--app-theme-snow-white: #ffffff;
	--app-theme-midnight: #18202d;
	--app-theme-bishop: #D72600;
	--app-theme-sapphire: #0956BF;
	--app-theme-rich-mint: #379711;
	--app-theme-sporty-yellow: #ECD407;
}
